.idea-card {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.description {
  padding: 25px 0;
}
.meta-data {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.date-and-votes {
  display: flex;
}
.tags {
  text-align: end;
}
.tag {
  background: #2e5090;
  color: white;
  display: inline;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 2px;
}
.created-date {
  margin-right: 15px;
}
.votes {
  display: flex;
  align-items: center;
}
.like-icon {
  height: 13px;
  width: 13px;
  margin-right: 5px;
}
.flex-div {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.add-idea {
  text-align: center;
  font-weight: 600;
}
.label {
  display: inline-block;
  width: 15%;
}
.input-text {
  width: 84%;
}
.actions {
  float: right;
  margin-top: 35px;
}
.actions > button {
  margin-left: 10px;
}
