.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: black;
  color: white;
  font-weight: 500;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
