.login-section {
  text-align: center;
}
.form-div {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.input-div {
  margin-right: 5px;
}
.error-div {
  color: red;
  margin-bottom: 20px;
  font-size: 12px;
}
